{% extends "layouts/base.html" %}

{% block title %} Your Fitness Classes {% endblock %} 


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header text-dark pb-md-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
                    <h2 class="h1 mb-4">
                        These fitness centers offer just what you need!
                    </h2>
                </div>
                <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
                 <!--  <h2 class = "h3 text-dark m-0"> How does your HealthScore compare with the medical and population average? </h2> -->
		<!--	 <img class="d-none d-md-inline-block" src="/static/assets/img/map_test.png" alt="HealthScore Chart"> -->
			<div class="d-flex justify-content-center">
			<iframe class="map", src="static/assets/img/fit_map.html" width="1200" height="900"></iframe>
            		</div>
		    </div>
            </div>
        </div>
    </section>

    

    <div class="section bg-soft" id="download">
        <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
            <svg class="fill-soft" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
            </svg>
        </figure>
<section class="section section-lg" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-8">
                <h2 class"h1"><b>Contact</b></h2>
                <br></br>
		<h4><b>Irina Petrushina</b><h4>
		<h4><b>Email:</b> irina.petrushina@mg.thedataincubator.com</h4>
                <h4><b>GitHub:</b> https://github.com/irina-petrushina/watchit </h4>
                <h4><b>Website:</b> https://watchit-934o.onrender.com </h4>
                </div>
                <div class="col">
                    <img class="d-none d-lg-inline-block" src="/static/assets/img/watch_yoga.png" alt="Mobile App Illustration">
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
